<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>coronatickets.uy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controladores.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controladores.Login</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Espectaculos</servlet-name>
    	<servlet-class>controladores.Espectaculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controladores.Logout</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Altaespectaculo</servlet-name>
    	<servlet-class>controladores.Altaespectaculo</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>AgregarEspectaculoaPaquete</servlet-name>
    	<servlet-class>controladores.AgregarEspectaculoaPaquete</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DetallesEspectaculo</servlet-name>
    	<servlet-class>controladores.DetallesEspectaculo</servlet-class>
    </servlet>
     <servlet>
    	<servlet-name>DetallesArtista</servlet-name>
    	<servlet-class>controladores.DetallesArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controladores.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paquetes</servlet-name>
        <servlet-class>controladores.Paquetes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Altafuncion</servlet-name>
        <servlet-class>controladores.Altafuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registroafuncion</servlet-name>
        <servlet-class>controladores.Registroafuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificarusuario</servlet-name>
        <servlet-class>controladores.Modificarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>controladores.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesUsuario</servlet-name>
        <servlet-class>controladores.DetallesUsuario</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CargarDatos</servlet-name>
    	<servlet-class>controladores.CargarDatos</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Buscar</servlet-name>
    	<servlet-class>controladores.Buscar</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EspectaculosDePlat</servlet-name>
    	<servlet-class>controladores.EspectaculosDePlat</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
    	<servlet-name>EspectaculosDePlat</servlet-name>
    	<url-pattern>/espectaculosdeplat</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
    	<servlet-name>CargarDatos</servlet-name>
    	<url-pattern>/cargardatos</url-pattern>
    </servlet-mapping>
   
   
    <servlet-mapping>
        <servlet-name>Paquetes</servlet-name>
        <url-pattern>/paquetes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detallesPaquete</servlet-name>
        <servlet-class>controladores.DetallesPaquete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detallesPaquete</servlet-name>
        <url-pattern>/detallesPaquete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>comprapaquete</servlet-name>
        <servlet-class>controladores.Comprapaquete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>comprapaquete</servlet-name>
        <url-pattern>/comprapaquete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearPaquete</servlet-name>
        <servlet-class>controladores.CrearPaquete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPaquete</servlet-name>
        <url-pattern>/crearPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Espectaculos</servlet-name>
    	<url-pattern>/espectaculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Altaespectaculo</servlet-name>
        <url-pattern>/altaespectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEspectaculoaPaquete</servlet-name>
        <url-pattern>/agregarEspectaculoaPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesEspectaculo</servlet-name>
        <url-pattern>/detallesEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesArtista</servlet-name>
        <url-pattern>/detallesArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Altafuncion</servlet-name>
        <url-pattern>/altafuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registroafuncion</servlet-name>
        <url-pattern>/registroafuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificarusuario</servlet-name>
        <url-pattern>/modificarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesUsuario</servlet-name>
        <url-pattern>/detallesUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorPages/500.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>   

 
</web-app>