<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>coronatickets.uy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controladores.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controladores.Login</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Espectaculos</servlet-name>
    	<servlet-class>controladores.Espectaculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controladores.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controladores.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paquetes</servlet-name>
        <servlet-class>controladores.Paquetes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Paquetes</servlet-name>
        <url-pattern>/paquetes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detallesPaquete</servlet-name>
        <servlet-class>controladores.DetallesPaquete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detallesPaquete</servlet-name>
        <url-pattern>/detallesPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Espectaculos</servlet-name>
    	<url-pattern>/espectaculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>